.footer {
  background-color: #F1F1F1;
  height: 210px;
  display: flex; /* 플렉스박스를 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 0;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: center;
  text-align: center; /* 텍스트 중앙 정렬 */
  padding: 0;
  margin: 0;
}


.footer-container p{
  color: #4C4848;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.338; /* 소수점 형식으로 수정 */
  margin: 5px 0; /* 문단 사이 여백 */
}

.footer-icon-container {
  align-items: center;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
}

.footer-logo {
  color: #5E7DEC;
  text-align: center;
  font-family: "BMHANNAPro";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 26.76px */
}
.footer-icon {

  width: 37px;
  height: auto;
}
.footer-container .description {
  margin-bottom: 20px; /* 적절한 여백으로 조정 */
}


.footer-container .copyright {
  color: black;
  margin-bottom: 20px;
}
  