  .navbar {
    margin: 40px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
  }
 
  .navbar-logo a{
    margin-left: 70px;
    text-decoration: none;
    color: #5E7DEC;
    font-family: "BMHANNAPro";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.8%; /* 48.168px */
  }
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 80px;
    margin: 0; 
    padding: 0;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #A9A9A9;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133.8%;
  }
  
  .navbar-links a.active {
    color: #5E7DEC;
  }
  .navbar-links a:hover {
    color: #5E7DEC;
  }
  
  .navbar-logout {
    list-style: none;
    margin: 0 70px 0 0;
    padding: 0; 
  }

  .navbar-logout a {
    list-style: none;
    text-decoration: none;
    color: #A9A9A9;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133.8%;
  }

  .navbar-logout a:hover {
    color :#5E7DEC;
  }

  hr {
    height: 0.5px;
    background-color: #CDD7F9;
    border: none;
  }
