.rating-stars {
    font-size: 30px;
    font-family: "BMHANNNAPro";
    cursor: pointer;
    color: #ECF0FF;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rating-stars .star.filled {
    color: #5E7DEC;
}