.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.50);
    z-index: 999; 
}
.timer-name-modal {
    padding: 30px 26px;
    width: 630px;
    height: 127px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    position: relative; 
}
.timer-name-modal-content {
    display:flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.timer-name-modal-content  p{
    color: #5E7DEC;
    text-align: center;
    font-family: "BMHANNAPro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.8%; /* 26.76px */
}
.timer-name-modal-content input {
    border-radius: 10px;
    border: 1px solid #5E7DEC;
    background: #FFF;
    width: 289px;
    height: 31px;
}
.timer-name-modal-content button {
    border-radius: 20px;
    width: 70px;
    height: 28px;
    background: #5E7DEC;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border:none;
}