.timerSetup {
    display: flex;
    justify-content: center;
}
.timerSetup-container {
    width: 1100px;

}
.timerSetup-container h2{
    font-family: 'BMHANNAPro';
    color: #5E7DEC;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.8%;
}
.timerSetup-container p {
    margin-left: 5px;
}
.timer-list {
    margin : 20px 0 16px 0;
    color: #5E7DEC;
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.8%; /* 37.464px */
}
.timer-list-noti {
    margin: 0 0 0 0;
    color:black;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.8%; /* 21.408px */
}
.timerBtn-container {
    margin: 35px 0 46px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.plusBtn {
    width: 102px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F2F3F6;
    color: #5E7DEC;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.8%; /* 32.112px */
    border: none;
    cursor: pointer;
}
.timerBtn {
    display: flex;
    width: auto;
    height: 43px;
    padding: 0 23px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #5E7DEC;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    color: #F3F3F3;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.8%; /* 32.112px */
    cursor: pointer;
}
.timerBtn.selected {
    box-shadow: 0px 8px 18px 0px #CDD7F9;
  }
.timer-explanation-container {
    width:100%;
    padding: 0 0 100px 20px;
}
.timer-explanation {
    position:relative;
}
.timerMent-icon{
    width: 70.011px;
    height: 70.03px;
    flex-shrink: 0;
    position:absolute;
    right: 150px;
    top: 100px;
}
.timerMent-container {
    width:900px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.timer-explanation h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.8%; /* 32.112px */
    text-align: center;
    margin-bottom: 20px;
}
.timer-explanation h1 {
    color: #5E7DEC;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    margin:0;
}

.timerSetting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 90px 0;
    align-items: center;
}
.timerinfo-container {
    position: relative;
    width: 700px;
    min-height: 250px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
}
.timer-saveBtn{
    position: absolute;
    top:28px;
    right:29px;
    display: flex;
    width: 80px;
    height: 32px;
    padding: 0 20px;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #F3F3F3;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.8%; /* 24.084px */
    cursor: pointer;
}
.timerSetup-startBtn{
    position: relative;
    border: none;
    margin-left: 60px;
    background-color: transparent; 
    cursor: pointer;
    padding: 0;
    display: inline-block; 
    overflow: hidden; 
    width: 260px;
    height: 250px ;
}

.timerSetup-startBtn img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.timerSetup-startBtn p {
    position: absolute; 
    left: 50px;
    top: 60px;
    color: #FFF;
    font-family: "BMHANNAPro";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.8%; 
    pointer-events: none; /* 텍스트에 대한 마우스 이벤트 비활성화 */
}

.timerInfo {
    margin: 64px 0 86px 60px;
}

.timerInfo-content-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.timerInfo-content{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.8%; /* 32.112px */
}

.areaBtn {
    padding: 2px 24px;
    width: auto;
    height: 49px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F3F3F3;
    border: none;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.8%; /* 32.112px */
    cursor: pointer;
}

.areaBtn.selected {
    border: 3px solid #5E7DEC;
  }

.timerInfo-detail-container p{
   margin: 0 0 20px 0;
}
.stretchCycle{
    display: flex;
    gap: 21px;
    align-items: center;
    margin-bottom: 16px;
}
.addBtn {
    width: 31px;
    height: 26px;
    border-radius: 10px;
    border:none;
    background: #F3F3F3;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}
.removeBtn {
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #A0A0A0;
    width: 69px;
    height: 36px;
    flex-shrink: 0;
    color: #A0A0A0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 24.084px */
    cursor: pointer;
}
.cycleNum {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: none;
    background-color: #E9EBF8;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
}

.CycleBtn {
    margin-top: 10px;
    margin-right: 16px;
    border:none;
    width: 69px;
    height: 36px;
    border-radius: 10px;
    background: #E9EBF8;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}
